
#Nothing in the bin
bin/*

#Ignore test executable
test

#None of the latex process files
*.aux
*.log
*.gz
*.bbl
*.blg
*.pdf
*.nav
*.out
*.snm
*.toc
!Report/images/*.pdf
!Presentation/images/*.pdf

#None of the Mathematica files
*.nb

#None of the executables
run/*

#None of the data files
Plane/*
PlaneCircle/*
Sphere/*
