
#Nothing in the bin
bin/*

#Ignore executables
run/*

#None of the latex process files
*.aux
*.log
*.gz
*.bbl
*.blg
*.pdf

#None of the mathematica files
*.nb

#ignore default data file
*output.csv

#ignore data files in general
Sphere/data/*
