
#Nothing in the bin
bin/*

#Ignore executables
run/*

#None of the latex process files
*.aux
*.log
*.gz
*.bbl
*.blg
*.pdf
*.nav
*.out
*.snm
*.toc

#None of the mathematica files
*.nb

#ignore data files in general
*/data/*
*.csv
